<div class="container-fluid">

  <div class="text-right mb-4">
    <button class="btn btn-primary" (click)="openModal(popup, '')">
      <i class="fa fa-plus"></i> Dodaj
    </button>
    
    <button class="btn btn-primary" (click)="logout()">
      <i class="fa fa-plus"></i> Wyloguj
    </button>
  </div>

  <div class="row" *ngIf='estates.length'>
    <div class="col-md-3" *ngFor="let estate of estates">
      <div class="card">
        <div class="image-container">
          <div class="col-md-3" *ngFor="let image of estate.links">
            <img src="{{image}}" alt="">
            <hr>
          </div>
        </div>
        <div class="heading">{{estate.city}}</div>
        <div class="sub-heading">{{estate.street}}</div>
       
        <div class="icon">
          <i class="fa fa-edit text-primary" (click)="openModal(popup, estate.id)"></i>
          <i class="fa fa-trash text-danger" (click)="removeEstate(estate.id)"></i>
        </div>
      </div>
    </div>
  </div>

</div>

<ng-template #popup let-d="dismiss">
  <div class="modal-header text-primary">
    {{estateDetails ? 'Aktualizuj' : 'Dodaj nową'}} pozycję
  </div>

  <div class="modal-body">
    <form [formGroup]="form">

      <div class="form-group">
        <label for="city">Miasto</label>
        <input id="city" type="text" formControlName="city"
               class="form-control"/>
      </div>

      <div class="form-group">
        <label for="street">Ulica z numer</label>
        <input id="street" type="text" formControlName="street"
               class="form-control" />
      </div>
      
      <div class="form-group">
        <label for="price">Cena</label>
        <input id="price" type="text" formControlName="price"
               class="form-control" />
      </div>

      <div class="form-group">
        <label for="type">Typ nieruchomosci:</label>
        <select id="type" name="type" formControlName="type">
          <option value="flat">Mieszkanie</option>
          <option value="house">Dom</option>
          <option value="land">Grunt</option>
        </select>
      </div>

      <div class="form-group">
        <label for="class">Rodzaj:</label>
        <select id="class" name="class" formControlName="class">
          <option value="sell">Sprzedaż</option>
          <option value="rent">Wynajem</option>
          <option value="rent">Dzierżawa</option>
        </select>
      </div>
      
      <div class="form-group">
        <label for="sfootage">Metraż w metrach:</label>
        <input id="sfootage" type="sfootage" formControlName="sfootage"
               class="form-control" [ngClass]="{'error-border': !form.get('price')?.valid && form.get('price')?.dirty}"/>
      </div>
      
      <div class="form-group">
        <label for="rooms">Ilość pokoi:</label>
        <input id="rooms" type="rooms" formControlName="rooms"
               class="form-control"/>
      </div>

      <div class="form-group">
        <label for="floor">Piętro:</label>
        <input id="floor" type="floor" formControlName="floor"
               class="form-control" />
      </div>
      
      <div class="form-group">
        <label for="bildYear">Rok budowy:</label>
        <input id="bildYear" type="bildYear" formControlName="bildYear"
               class="form-control"/>
      </div>

      <div class="form-group">
        <label for="garage">Garaż:</label>
        <select id="garage" name="garage" formControlName="garage">
          <option value="no">Tak</option>
          <option value="yes">Nie</option>
        </select>
      </div>
      
      <div class="form-group">
        <label for="elevator">Winda:</label>
        <select id="elevator" name="elevator" formControlName="elevator">
          <option value="no">Tak</option>
          <option value="yes">Nie</option>
        </select>
      </div>
      
      <div class="form-group">
        <label for="basement">Piwnica:</label>
        <select id="basement" name="basement" formControlName="basement">
          <option value="no">Tak</option>
          <option value="yes">Nie</option>
        </select>
      </div>

      <div class="form-group">
        <label for="photos">Zdjecia</label>
        <ngx-dropzone (change)="onSelect($event)">
          <ngx-dropzone-label>Naciśnij lub przeciągnij zdjęcia</ngx-dropzone-label>
        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
          <ngx-dropzone-label>({{ f.type }})</ngx-dropzone-label>
        </ngx-dropzone-image-preview>
        </ngx-dropzone>

    </div>

    </form>

    <div class="text-center">
      <button class="btn btn-primary btn-sm pl-4 pr-4 mr-2"
              [disabled]="!form.valid"
              (click)="estateDetails ? updateEstate(estateDetails.id) : handleSaveEstate(); d()">Dodaj</button>
      <button class="btn btn-secondary btn-sm pl-4 pr-4 ml-2" (click)="d()">Anuluj</button>
    </div>
  </div>
</ng-template>
 

<!-- <form (ngSubmit)="createNewEstate()">
  <h2>Dodaj nowa nieruchomosc</h2>

  <div class="form-group">
    <input type="text" 
           class="form-control" placeholder="Miasto">
  </div>
  <div class="form-group">
    <input type="text" 
           class="form-control" placeholder="Ulica">
  </div>
  <div class="form-group">
    <label for="typ">Typ nieruchomosci:</label>
    <select id="typ" name="typ">
      <option value="miesznkanie">Mieszkanie</option>
      <option value="dom">Dom</option>
      <option value="dzialka">Działka</option>
    </select>
  </div>

  <div class="form-group text-center">
    <button class="btn btn-success" type="submit">Dodaj</button>
    <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
  </div>

</form> -->